div {
    min-width: 30px;
    min-height: 30px;
    border: 0.1px solid;
    margin: 0;
    padding: 0;
}

.grid {
    border: none;
    display: flex;
    flex-direction: column;
    max-width: 530px;
    min-height: 530px;
    align-items: center;
}

.grid div {
    display: flex;
    flex-direction: row;
}