body {
    display: flex;
    justify-content: center;
}

div.grid {
    height: 96vh;
    width: 96vh;
    border: 3px solid rgb(196, 22, 22);
    padding: 2px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

div.grid div {
    display: flex;
    flex-basis: 100%;
}

div.grid div div {
    display: flex;
    flex-basis: 100%;
    border: 1px solid rgb(156, 150, 150);
}

.changeColor {
    background-color: black;
}